/*-------- navbar -----------*/
/*navbar*/
.items{
  margin:auto;
}
.nav-link {
  margin-left: 60px;
  margin-right: 60px;
}
#brand {
  margin-left: 40px;
  margin-right: 40px;
}
/*--------- section 1 -------------*/

#s1 {
  height:800px;
  background-image:url('images/NewHeadshotBackground1920x1080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display:flex;
  justify-content: center;
  border-bottom: 10px solid #292b2c;
}

/*--------- typed text -------------*/

#typed-text {
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight:bold;
  color:white;
  display:flex;
  justify-content:center;
  align-items: center;
}
/*--------- section 2 -------------*/

#s2 {
  background-color: #292b2c;
  height: 800px;
  border-bottom: 10px solid #292b2c;
  width: 100%;
}
#hearmeout {
  color: white;
  text-align: center;
  margin-bottom: 50px;
}
.bio {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100%;

}
.bio p {
  margin-left: 5%;
  margin-right: 5%;
}

/*--------- section 3 -------------*/
#s3{
  height:100%;
  background-color: white
}
.guages {
  display: flex;
  flex-direction: row;
}
.guages svg {
  padding: -20px;
  margin-left: 20px;
}
.guages div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.liquidFillGaugeText {
  font-family: Helvetica;
  font-weight: bold;
}


/*--------- section 4 -------------*/

#s4 {
  height:600px;
  background-color: #292b2c;
}









/*--------- section 5 -------------*/

#s5 {
  background-color: #39B7CD;
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fadedtext {
  display:none;
  color:black	;
  font-family:helvetica;
  padding: 20px;
  text-align: center;
  font-size: 35px;
}
#fade {
  display: flex;
  justify-content: center;
}







/*icons */

.js {
  height: 40px;
  width: 40px;
  margin-right:5px;
}
.apple {
  height: 40px;
  width: 40px;
  margin: 5px;
}
.imgsize {
  margin:3px;
  height: 50px;
  width: 50px;
}
.border {
  border: 1px solid black;
}
.icons {
  padding: 50px;
  height: 10%;


}
